body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../images/background.png") no-repeat center center/cover;
    background-size: cover;
}

.booking-form,
.restaurant-info,
.booker-info {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px;
    }

.booking-form {
    width: 35%;
    /* move to the left */
    /* padding: 20px; */
    margin-left: 10%;
    padding: 0;
    height: auto;
    margin-top: 10%;
}



h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    background-color: #FA8D28;
    padding: 20px 0;
    margin-right: 20px;
    margin-top: -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    display: block;
}

h2, h3 {
    color: #333;
    padding: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    padding: 20px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.form-group input[type="date"],
.form-group input[type="time"],
.form-group select {
    width: 70%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    /* center the inputs */
    display: block;
    margin: 0 auto 25px auto;

}

.note {
    font-size: 0.8rem;
    color: #666;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
}

button {
    background-color: #FF4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

button:hover {
    background-color: #e03e00;
}

button.book-button {
    /* place in center */
    margin: 0 auto;
    display: block;
    padding: 10px 20px 10px 20px;
    width: 30%;
    background-color: #007bff;
    color: #fff;

}

.info-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align children to the start of the flex container */
    width: 40%; /* Set the width to fit the container */
    /* move to the right */
    padding: 20px;
    border-radius: 5px;
    margin-top: 5%;

}


.restaurant-info,
.booker-info {
    width: 40%; 
    box-shadow: none;
    padding: 20px;
    /* move to the right */
    margin-left: 35%;
    margin-top: 10%;
}

h3.resteraunt-name {
    color: #333;
    margin-top: 10px;
    padding: 0;
}

h3.your-info {
    color: #333;
    margin-top: 10px;
    padding: 0;
}

h2.start-booking {
    text-align: center;
}

