body {
    margin-top: 135px;
    font-family: Arial, sans-serif;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-form {
    background-color: #FF7A00;
    padding: 50px;
    border-radius: 80px;
    width: auto;
    margin-top: 75px;
    border:#333 solid 3px;
    margin-right: 100px;
}

.signup-form h2 {
    text-align: center;
    font-size: 40px;
    margin-top: -10px;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #0000FF; /* Adjust the color to match your image */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #000099;
}

.image-section {
    width: 700px;
    height: 400px;
    margin-top: 75px;
    border-radius: 8px;
    margin-left: 100px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .signup-form, .image-section {
        margin: 10px 0;
    }
}

.signUpImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
}

p {
    text-align: left;
    color: white;
    margin-top: -25px;
    font-size: 10px;
}