body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: url("../images/background.png") no-repeat center center/cover;
    background-size: cover;
}