@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

/* Header styles -Start****************************************/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar .logo {
  font-size: 2.1rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.navbar .logo img {
  height: 100px;
}

.navbar .menu-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 35px;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: lightskyblue;
}
/* Header styles -End****************************************/

/* Banner styles -Start**************************************/
.banner-section {
  height: 100vh;

  display: flex;
  align-items: center;
  padding: 0 20px;
}

.banner-section .content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: white;
}

.banner-section .content h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 70px;
}

.banner-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}
.banner-section .content button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 16px;
  border: 2px solid white;
  background: black;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.2s ease;
}

.banner-section .content button:hover {
  background: lightskyblue;
  border-color: lightskyblue;
  color: white;
}

/* image format */

.banner-section .content img {
  display: block;
  background: 50% / cover no-repeat;
  max-width: 767px;
  max-height: 501px;
  width: auto;
  height: auto;
  flex-shrink: 0;
}

.banner-section .content h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 70px;
  /* move down the text */
  margin-top: 175px;
}

.banner-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}

.banner-section .content button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 16px;
  border: 2px solid white;
  background: black;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.2s ease;
}

.banner-section .content button:hover {
  background: lightskyblue;
  border-color: lightskyblue;
  color: white;
}

.banner-section .content img {
  /* shift image to the right */
  margin-left: 70%;
  /* shift image up */
  margin-top: -300px;
  display: block;
  background: 50% / cover no-repeat;
  max-width: 767px;
  max-height: 501px;
  width: auto;
  height: auto;
  flex-shrink: 0;
  /* border: 2px solid white; */
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Close button style */
#close-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
}

/* Menu button style */
#menu-btn {
  color: white;
  cursor: pointer;
  display: none;
}

/* Responsive Web Design */
@media (max-width: 768px) {
  .navbar .logo {
    font-size: 1.7rem;
  }
  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: black;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }
  .navbar a {
    color: white;
  }
  #close-menu-btn,
  #menu-btn {
    display: block;
    color: white;
  }

  /* Responsive Banner Section */
  .banner-section .content {
    text-align: center;
  }
  .banner-section .content :is(h2, p) {
    max-width: 100%;
  }
  .banner-section .content h2 {
    font-size: 1.8rem;
    line-height: 60px;
  }
  .banner-section .content button {
    padding: 9px 18px;
  }
}

/* Body styles -Start****************************************/
body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  background-color: orange;
}

img {
  display: block;
  background: 50% / cover no-repeat;
  max-width: 767px;
  max-height: 501px;
  width: auto;
  height: auto;
  flex-shrink: 0;
}

.intro {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.statement {
  font-size: 25px;
  font-family: "Figtree", sans-serif;
  text-align: center;
  box-shadow: 10px 10px 8px lightskyblue;
  border: solid black 5px;
}

.booking {
  align-items: center;
  text-align: center;
  color: white;
}

.bookButton {
  display: inline-block;
  border: solid white 5px;
  padding: 10px;
  background: black;
  /*box-shadow: 10px 10px 8px lightskyblue;*/

  font-family: "Figtree", sans-serif;
}

.bookButton:hover {
  cursor: pointer;
  background-color: lightskyblue;
  color: white;
  padding: 10px;
  /* box-shadow: 0px 0px 10px lightskyblue; */
}

/* Body styles -End****************************************/
