body {
  font-family: Arial, sans-serif;
  background: url(../images/background.png) no-repeat center center fixed;
  background-size: cover;

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-edit-container {
  background-color: #ff7a00; /* Adjust color as needed */
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  /* Rectangle 9 */
  box-sizing: border-box;
  border: 5px solid #000000;
  border-radius: 100px;
  margin-top: 100px;
  justify-content: center;
  margin-right: -100px;
}
h2 {
  text-align: center;
  color: black;
  margin-top: -10px;
  font-size: 48px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: #ccc 1px 1px 0px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

label {
  font-family: "Times New Roman", Times, serif;
  /* align to the left of the form */
  text-align: left;
  width: 78%;
  margin-bottom: -10px;

  /* Semi-Bold / H5 Heading */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  /* Gray/900 */
  color: #212529;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  width: 75%;
  display: block;
  justify-self: center;
}

.form-button {
  padding: 0.5em;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1em;

  background: #0000ff;
  border: 1px solid #1e1e1e;
  border-radius: 100px;
  width: 50%;
  font-size: 24px;
}

.form-button:hover {
  background-color: #228b22; /* Adjust color as needed */
}

.back-button {
  color: white;
  cursor: pointer;
  margin-bottom: 500px;
  margin-right: 250px;
  font-size: 48px;
  /* italic and underline */
  font-style: italic;
  text-decoration: underline;
}
