@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Header styles -Start****************************************/
header {
    /*display: flex;
    justify-content: space-around;
    color: blue;
    align-items: center;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border-bottom: solid black 5px;
    background-color: white;
}

.name {
    margin-left: 15%;
}

.logo img {
    height: 75px;
    margin-left: 33%;
}

.nav {
    display: flex;
    gap: 5%;
    align-items: center;
    text-align: center;
    margin-right: 15%;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav a:hover {
    color: lightskyblue;
}

.nav a:active {
    color: lightskyblue;
}

/* Header styles -End****************************************/


/* Body styles -Start****************************************/
body {
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
    background-color: orange;
}

img {
    display: block;
    background: 50% / cover no-repeat;
    max-width: 767px;
    max-height: 501px;
    width: auto;
    height: auto;
    flex-shrink: 0;
}

.intro {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.statement {
    font-size: 25px;
    font-family: 'Figtree', sans-serif;
    text-align: center;
    box-shadow: 10px 10px 8px lightskyblue;
    border: solid black 5px;
}

.booking {
    align-items: center;
    text-align: center;
    color: white;
}

.bookButton {
    display: inline-block;
    border: solid white 5px;
    padding: 10px;
    background: black;
    /*box-shadow: 10px 10px 8px lightskyblue;*/

    font-family: 'Figtree', sans-serif;
}

.bookButton:hover {
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    /* box-shadow: 0px 0px 10px lightskyblue; */
}

/* Body styles -End****************************************/